[Unit]
Description=Tailscale node agent
Documentation=https://tailscale.com/kb/
Wants=network-pre.target
After=network-pre.target

[Service]
Type=notify
EnvironmentFile=-/usrdata/tailscale/systemd/tailscaled.defaults
ExecStartPre=/bin/mkdir -p /usrdata/tailscale/state /usrdata/tailscale/systemd
ExecStartPre=/bin/rm -f /usrdata/tailscale/tailscaled.sock
ExecStart=/usrdata/tailscale/tailscaled --statedir=/usrdata/tailscale/state --socket=/usrdata/tailscale/tailscaled.sock --port=${PORT} $FLAGS
ExecStopPost=/bin/rm -f /usrdata/tailscale/tailscaled.sock
Restart=on-failure

[Install]
WantedBy=multi-user.target
